@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-1: #212121;
    --primary-2: #3A4042;
    --secondary-1: #50717B;
    --secondary-2: #8ECCCC;
    --primary-text: #CCC;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    color: var(--primary-text);
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-1);
}

form {
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px 5px var(--secondary-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 40rem;
    height: 45rem;
    background-color: var(--primary-2);
}

form h2 {
    font-size: 3.1rem;
    margin: .5rem 0 12rem 0;
}

.form-login {
    width: 75%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
}

input{
    width: 90%;
    border: none;
    font-size: 2.1rem;
    background-color: inherit;
    color: #CCC;
    line-height: 2.8rem;
    caret-color: var(--secondary-2);
 }

input:focus {
    outline: none;
}

form button{
    width: 15rem;
    background-color: var(--secondary-2);
    color: var(--primary-1);
    font-size: 2rem;
    text-align: center;
    padding: 0.2em 0;
    border: none;
    border-radius: 10rem;
}